# Battery
ACTION=="add", SUBSYSTEM=="platform", KERNEL=="VPC2004:00", RUN+="/bin/chmod 0666 /sys/bus/platform/drivers/ideapad_acpi/VPC2004:00/conservation_mode"
